body {
  background: #000;
  min-height: 100vh;
  margin: 0;
  padding: 0;
}

@keyframes gradient-x {

  0%,
  100% {
    background-position: 0% 50%;
  }

  50% {
    background-position: 100% 50%;
  }
}

.animate-gradient-x {
  animation: gradient-x 3s ease-in-out infinite;
  background-size: 200% 200%;
}

.invert-mode {
  filter: invert(1) hue-rotate(180deg);
}